.div-detail{
    margin-top: 100px;
    border: 2px solid #f9f8f7;
    padding: 20px;
    width: 49%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 25px;
}
.div-detail:hover{
    box-shadow:  0 0 4px grey;
}
.detail{
    padding: 20px;
}
.btn{
    display: flex;
    justify-content: space-between;
}
.btn p{
    color: gray;
}
.button-detail{
    width: auto;
    margin-left: 30px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid   #f9f8f7;;
    font-size: 14px;
    padding: 0px 20px;
    box-shadow: 0 0 4px gray;
}
.button-detail:hover{
    background-color: white;
    cursor: pointer;
    outline: 1px solid  #33312e;
    transition: 0.3s;
  
}
.img-detail{
    width: 665px;
    height: 298px;
    border-radius: 25px;
    object-fit: cover;
}